<form #searchForm='ngForm' class="d-flex" (ngSubmit)='submitSearch($event, 
searchForm)'>

<input type='hidden' name='location' [(ngModel)]='searchLocation' />
<input class="form-control me-2" type="search" placeholder="Search" name='searchQuery' 
    [(ngModel)]='searchQuery' (change)='searchQueryChange()' aria-label="Search">
    <!-- [(ngModel)]='searchQuery'  -->

    <button class="btn btn-outline-success" type="submit">Search 
        <!-- <span *ngIf='!searchQuery'>Search</span> -->
         <!-- <span *ngIf='searchQuery'>Search for... {{ searchQuery}}</span> -->
        </button>
  </form> 